

.card-item {    
    box-shadow: 5px 5px 30px rgb(59, 154, 151);;
    border-radius: 10px;
    transition: .5s;
}

.card-item:hover {
    transform: scale(0.9);
}

.card-item img {
    padding-top: 50px;
    width: 70%;
    transition: .5s;
    border-radius: 10px;
}